#nav {
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #fff;
	width: 500px;
	border-radius: 0 0 3em 3em;

	ul {
		li {
			display: inline-block;
			margin: 0 10px;

			a {
				border-radius: 0 !important;
				font-size: 1.2em;
			}
		}
	}
}